
body {
  font-family: helvetica, arial, sans-serif;
  background-color: #cddefa;
}

h1 {
  font-style: italic;
  color: #373fff;
}

p3 {
  text-align: center;
  padding-top: 10px;
}

[nexus-ui] {
  width:100%;
  height:100%;
}

#start {
  padding-bottom: 20px;
  margin: auto;
}

#loopGrain {
  padding-bottom: 15px;
  margin: auto;
}

#grainSelect {
  padding-bottom: 15px;
  margin: auto;
}

#volumes {
  /* height: 100%; */
  margin: auto;
  padding-left: 40px;
}

#bpmSlider {
  margin: auto;
  padding-left: 40px;
  text-align: center;
}

#bpm {
  margin: auto;
  padding: 5px 0px 10px 0px;
}

#generateParts {
  margin: auto
}

#dropdown {
  padding: 15px 0px 15px 0px;
  margin: auto;
}

#instruction {
  padding-top: 10px;
  margin: auto;
}

#grainsizetext {
  margin-top: 10px;
}

#looptext {
  margin-top: 10px;
}

#file {
  float: right;
  padding: 10px 10px 10px 10px;
  margin: auto
}

#sound {
  float: right;
  padding: 10px 10px 10px 10px;
  margin: auto
}

#record {
  margin: auto;
  padding: 15px 0px 15px 0px;
}

#recordmic {
  margin: auto;
  padding-bottom: 15px;
}

/* #sketch-holder {
  padding-bottom: 15px;
} */

.grains {
  padding: 15px 0px 15px 0px;
  margin: auto;
}
.grains2 {
  padding: 15px 0px 15px 0px;
  margin: auto;

}

.grainMeters {
  display: grid;
  grid-auto-flow: column;
  padding: 5px 0px 15px 10px;
  margin: auto
  }


audio { width: 100%; }


.columnleft{
    float: left;
    width: 20%;
    background-color: #c93c20;
    height: 100vh;
    text-align: center
    }

.columncenterL {
      float: left;
      width: 18%;
      background-color: #96D1CD;
      height: 100vh;
      text-align: center

         }
.columncenter {
  float: left;
  width: 18%;
  background-color: #c93c20;
  height: 100vh;
  text-align: center
     }
.columncenterR {
  float: left;
  width: 22%;
  background-color: #96D1CD;
  height: 100vh;
  text-align: center;
        }

.columnright {
  float: left;
  width: 22%;
  background-color: #c93c20;
  height: 100vh;

     }

.row:after {
        content: "";
         display: table;
         clear: both;
         }
